// ----------------------------------------------------------------------------
// banner

[role="banner"] {
  h1 {
    @include adjust-font-size-to($xlargepx);
    @include at-breakpoint($total-columns) { @include adjust-font-size-to($xxlargepx); }
    a {
      #{$link} { color: $blue-darker; }
      #{$focus} { color: $pink-darker; }
    }
  }
  h1, h2 { font-weight: bold; }
}
