// ----------------------------------------------------------------------------
// container

$megan: 30%;
$vpadding: rhythm(.5);
$transition: 400ms;

$break: 45em;

$border-width: 2px;
$border-color: rgba($light,.25);
$border-color-fallback: $lighter;

html {
  overflow-x: hidden;
  @include breakpoint(45em) { padding-left: $megan; }
}

body {
  @include transition(margin, padding $transition);
  @include container;
  &:before {
    @include transition(left $transition);
    @include background(image-url('megan.png') no-repeat center $vpadding);
    @include background-size(100% auto);
    position: fixed;
    top: 0;
    bottom: 0;
    left: - $megan - 2;
    content: " ";
    width: $megan - 2;
  }

  @include breakpoint($break) { &:before { left: $grid-padding; } }
  @include breakpoint(65em) { margin-left: 5%; }
  @include breakpoint(min-height 20em) { @include padding-leader(.5); }
}
