@include font-face (
  'IcoMoon',
  font-files(
    'megan.svg#megan', svg,
    'megan.woff', woff,
    'megan.ttf', truetype
  ),
  'megan.eot',
  normal,
  normal
);

/* Use the following CSS code if you want to have a class per icon */
%icon-content {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

%icon:before {
  @extend %icon-content;
  margin-left: .1em;
  margin-right: .25em;
}

%icon-replace {
  @extend %icon;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
  }
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  @extend %icon-content;
  content: attr(data-icon);
}

%icon-mail:before { content: "\e000"; }
%icon-user:before { content: "\e001"; }
