// ----------------------------------------------------------------------------
// Reset

@import "compass/reset";
@import "fonts";

// ----------------------------------------------------------------------------
// Root

@include establish-baseline;

html {
  color: $base;
  background: image-url('creampaper.png') repeat fixed;
}

img {
  vertical-align: bottom;
  width: 100%;
}

// ----------------------------------------------------------------------------
// Imports

@import "type";
@import "icons";
