// ----------------------------------------------------------------------------
// Reset

@import "compass/reset";
@import "fonts";

// ----------------------------------------------------------------------------
// Root

@include establish-baseline;

html {
  font-family: $susy-reg, $susy-stack;
  color: $base;
  color: rgba($base,.8);
  background: image-url('creampaper.png') repeat fixed;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

// ----------------------------------------------------------------------------
// Imports

@import "type";
@import "icons";
