// ----------------------------------------------------------------------------
// Links

a {
  &:hover, &:active {
    outline: none;
  }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} {
    color: $accent;
  }
}

// ----------------------------------------------------------------------------
// Typography

%type {

  // -------
  // Headers

  h2 {
    @include adjust-font-size-to($largepx);
    @include trailer(.5);
    @include at-breakpoint($total-columns) { @include adjust-font-size-to($xlargepx); }
  }

  h3 {
    @extend %bleed;
    @include rhythm-padding(.25);
    @include trailer(.5);
    background: $lighter;
    background: rgba($light,.25);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .04em;
  }

  // ------
  // Blocks

  h4, strong { font-weight: bold; }
  em { @include smallcaps; }

  p, ul, ol, pre { @include trailer; }
  blockquote p { @include trailer(0); }
  p:empty { display: none; }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }
  ul, ol { ul, ol { @include rem(margin-left, rhythm(1)); } }

}